/**********************************************/
/*                  THEME 1                   */
/*             blue/spring (green)            */
/**********************************************/
/*
header {
  font-family: "Neue Haas Unica Pro",-apple-system,BlinkMacSystemFont,sans-serif;    
  background: #0088ff; 
  background: -moz-linear-gradient(left,  #0088ff 0%, #00f0a0 100%); 
  background: -webkit-linear-gradient(left,  #0088ff 0%,#00f0a0 100%);
  background: linear-gradient(to right,  #0088ff 0%,#00f0a0 100%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#00f0a0',GradientType=1 );
}
*/


/**********************************************/
/*                  THEME 2                   */
/*               sky blue/blue                */
/**********************************************/
/*
header {
  background: #0088ff;
  background: -moz-linear-gradient(left,  #0088ff 0%, #00EEFF 100%); 
  background: -webkit-linear-gradient(left,  #0088ff 0%,#00EEFF 100%);
  background: linear-gradient(to right,  #0088ff 0%,#00EEFF 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#00EEFF',GradientType=1 );
}*/



/**********************************************/
/*                  THEME 3                   */
/*            light blue/dark blue            */
/**********************************************/

header {
  background: #0088ff; 
  background: -moz-linear-gradient(left,  #0088ff 0%, #0022ee 100%); 
  background: -webkit-linear-gradient(left,  #0088ff 0%,#0022ee 100%);
  background: linear-gradient(to right,  #0088ff 0%,#0022ee 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088ff', endColorstr='#0022ee',GradientType=1 );
}




/**********************************************/
/*                 THEME 4                    */
/*              dark blue/blue                */
/**********************************************/
/*
header {
  background: #003388;
  background: -moz-linear-gradient(left,  #0022ee 0%, #003388 100%); 
  background: -webkit-linear-gradient(left,  #0022ee 0%,#003388 100%);
  background: linear-gradient(to right,  #0022ee 0%,#003388 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0022ee', endColorstr='#003388',GradientType=1 );
}
*/

/**********************************************/
/*              for theme 1, 2                */
/*                dark hover                  */
/**********************************************/
/*
header nav.shortcuts li a:active,
header nav.shortcuts li a:focus,
header nav.shortcuts li a:hover {
  background-color: #003388; 
  color: #00eeff;
}*/

/**********************************************/
/*              for theme 3, 4                */
/*                light hover                 */
/**********************************************/

header nav.shortcuts li a:active,
header nav.shortcuts li a:focus,
header nav.shortcuts li a:hover {
  background-color: #00eeff; 
  color: #003388;
}


/* Disable default ribbon */
header:after {
  height: 0;
}

header a {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 1.3em;
  padding: 0 0 0 25px;

}

header nav.shortcuts li a {
  font-size: 1.0em;
}

/* main page title */
article section.page h1:first-of-type {
  font-family: "Open Sans"; 
  font-size: 50px; 
  font-style: normal; 
  font-variant: small-caps; 
  font-weight: 700;
  color: #0088ff;
  text-transform: none;
}

/* selected (left-menu) entry's border */
article > aside .menu .dd-item.active > div * {
  font-weight: bold;
  color: #0088ff;
  border-bottom: dotted 1px #0022ee; 
  background-color: #f9f9f9;
}
